<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">Welcome to my custom MEAN Auth App</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/regiter']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.js/Express server using Mongoose</p>
  </div>
  <div class="col-md-4">
    <h3>Angular2-CLI</h3>
    <p>Angular 2 used to generate components</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens</p>
  </div>
</div>
